*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7ec6eb;
    height: 100vh;
}

header{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

header > h1 {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 2px;
    color:black;
}

header > h3{
    font-size: 2rem;
    font-variant: small-caps;
}

.pontuacao{
    text-align: center;
    font-size: 2rem;
    font-size:larger;
    font-variant: small-caps;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#cardboard{
    width: 755px;
    height: 640px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memoria-card{
    width: calc(20% - 10px);
    height: 25%;
    background: #113b50;
    border: 3px solid;
    border-radius: 10px;
    margin: 5px;
    transform-style: preserve-3d;
    transition: 0.5s;
    position: relative;
    backface-visibility:hidden;
}

.memoria-card:active{
    transform: scale(0.95);
}

.memoria-card.flip{
    transform: rotateY(180deg);
}

.frente,
.verso{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}

.frente{
    transform: rotateY(180deg);
    border: 3px solid;
}
